<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szczegóły zamówienia</title>
</head>
<body>
<h1>Szczegóły zamówienia nr. <%= id %>:</h1>
<table class="table table-striped">
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Ilość</th>
    </tr>
    <% for(var i = 0; i < orders_item.length; i++) { %>
    <tr>
        <td>
            <%= orders_item[i].dataValues.product.name %>
        </td>
        <td>
            <%= orders_item[i].dataValues.product.price %>
        </td>
        <td>
            <%= orders_item[i].dataValues.qty %>
        </td>
    </tr>
    <% } %>
</table>

</body>
</html>